In [11]:
import pandas as pd

In [13]:
df = pd.read_excel('resultats-par-niveau-burvot-t1-france-entiere.xlsx')

In [14]:
df.head(2)

,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,...,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104
0,01,Ain,4,4ème circonscription,1,L'Abergement-Clémenciat,0001,645,108,16.74,...,3,0.47,0.58,12,M,DUPONT-AIGNAN,Nicolas,21,3.26,4.04
1,01,Ain,5,5ème circonscription,2,L'Abergement-de-Varey,0001,213,38,17.84,...,3,1.41,1.75,12,M,DUPONT-AIGNAN,Nicolas,0,0.00,0.00

In [15]:
for col in df.columns:
    print(col)

Code du département
Libellé du département
Code de la circonscription
Libellé de la circonscription
Code de la commune
Libellé de la commune
Code du b.vote
Inscrits
Abstentions
% Abs/Ins
Votants
% Vot/Ins
Blancs
% Blancs/Ins
% Blancs/Vot
Nuls
% Nuls/Ins
% Nuls/Vot
Exprimés
% Exp/Ins
% Exp/Vot
N°Panneau
Sexe
Nom
Prénom
Voix
% Voix/Ins
% Voix/Exp
Unnamed: 28
Unnamed: 29
Unnamed: 30
Unnamed: 31
Unnamed: 32
Unnamed: 33
Unnamed: 34
Unnamed: 35
Unnamed: 36
Unnamed: 37
Unnamed: 38
Unnamed: 39
Unnamed: 40
Unnamed: 41
Unnamed: 42
Unnamed: 43
Unnamed: 44
Unnamed: 45
Unnamed: 46
Unnamed: 47
Unnamed: 48
Unnamed: 49
Unnamed: 50
Unnamed: 51
Unnamed: 52
Unnamed: 53
Unnamed: 54
Unnamed: 55
Unnamed: 56
Unnamed: 57
Unnamed: 58
Unnamed: 59
Unnamed: 60
Unnamed: 61
Unnamed: 62
Unnamed: 63
Unnamed: 64
Unnamed: 65
Unnamed: 66
Unnamed: 67
Unnamed: 68
Unnamed: 69
Unnamed: 70
Unnamed: 71
Unnamed: 72
Unnamed: 73
Unnamed: 74
Unnamed: 75
Unnamed: 76
Unnamed: 77
Unnamed: 78
Unnamed: 79
Unnamed: 80
Unnamed: 81
Unnamed: 82
Unnamed: 83
Unnamed: 84
Unnamed: 85
Unnamed: 86
Unnamed: 87
Unnamed: 88
Unnamed: 89
Unnamed: 90
Unnamed: 91
Unnamed: 92
Unnamed: 93
Unnamed: 94
Unnamed: 95
Unnamed: 96
Unnamed: 97
Unnamed: 98
Unnamed: 99
Unnamed: 100
Unnamed: 101
Unnamed: 102
Unnamed: 103
Unnamed: 104

#### We need to rename 'Unnamed' columns and cleans this dataset

In [17]:
df = df.drop('Code de la commune', axis=1)

In [28]:
df = df.drop('Code de la circonscription', axis=1)

In [30]:
df = df.drop('Code du b.vote', axis=1)

In [22]:
df = df.drop('Blancs', axis=1)

KeyError: "['Blancs'] not found in axis"

In [21]:
df = df.drop('% Blancs/Ins', axis=1)
df = df.drop('% Blancs/Vot', axis=1)

In [23]:
df = df.drop('N°Panneau', axis=1)

In [31]:
df['voix_lutte_ouvriere'] = df['Voix']

df = df.drop('% Voix/Ins', axis=1)

In [36]:
df['res_lutte_ouvriere'] = df['% Voix/Exp']

In [39]:
df = df.drop('Unnamed: 28', axis=1)

In [42]:
df['voix_pcf'] = df['Unnamed: 32']

In [43]:
df['voix_pcf']

0         6
1         7
2        30
3        13
4        18
         ..
69677    43
69678     1
69679     1
69680     1
69681     1
Name: voix_pcf, Length: 69682, dtype: int64

In [45]:
df['res_pcf'] = df['Unnamed: 34']

In [46]:
df['voix_lrem'] = df['Unnamed: 39']

In [47]:
df['res_lrem'] = df['Unnamed: 41']

In [48]:
df['voix_resistons'] = df['Unnamed: 46']

In [50]:
df['res_resistons'] = df['Unnamed: 48']

In [51]:
df['voix_rn'] = df['Unnamed: 53']

In [52]:
df['res_rn'] = df['Unnamed: 55']

In [53]:
df['res_rn']

0        28.65
1        13.45
2        28.21
3        24.94
4        23.92
         ...
69677     4.43
69678     3.83
69679     5.88
69680     2.53
69681     5.45
Name: res_rn, Length: 69682, dtype: float64

In [54]:
df['voix_reconquete'] = df['Unnamed: 60']

In [55]:
df['res_reconquete'] = df['Unnamed: 62']

In [56]:
df['voix_lfi'] = df['Unnamed: 67']

In [59]:
df['res_lfi'] = df['Unnamed: 69']

In [60]:
df['voix_ps'] = df['Unnamed: 74']

In [62]:
df['res_ps'] = df['Unnamed: 76']

In [63]:
df['res_ps']

0        0.96
1        1.75
2        1.79
3        2.26
4        1.69
         ...
69677    2.51
69678    1.59
69679    0.00
69680    1.27
69681    0.00
Name: res_ps, Length: 69682, dtype: float64

In [64]:
df['voix_eelv'] = df['Unnamed: 81']

In [65]:
df['res_eelv'] = df['Unnamed: 83']

In [66]:
df['voix_lr'] = df['Unnamed: 88']

In [67]:
df['res_lr'] = df['Unnamed: 90']

In [68]:
df['voix_npa'] = df['Unnamed: 95']

In [69]:
df['res_npa'] = df['Unnamed: 97']

In [71]:
df['voix_debout'] = df['Unnamed: 102']

In [72]:
df['res_debout'] = df['Unnamed: 104']

In [73]:
for col in df.columns:
    print(col)

Code du département
Libellé du département
Libellé de la circonscription
Libellé de la commune
Inscrits
Abstentions
% Abs/Ins
Votants
% Vot/Ins
Nuls
% Nuls/Ins
% Nuls/Vot
Exprimés
% Exp/Ins
% Exp/Vot
Voix
% Voix/Exp
Unnamed: 29
Unnamed: 30
Unnamed: 31
Unnamed: 32
Unnamed: 33
Unnamed: 34
Unnamed: 35
Unnamed: 36
Unnamed: 37
Unnamed: 38
Unnamed: 39
Unnamed: 40
Unnamed: 41
Unnamed: 42
Unnamed: 43
Unnamed: 44
Unnamed: 45
Unnamed: 46
Unnamed: 47
Unnamed: 48
Unnamed: 49
Unnamed: 50
Unnamed: 51
Unnamed: 52
Unnamed: 53
Unnamed: 54
Unnamed: 55
Unnamed: 56
Unnamed: 57
Unnamed: 58
Unnamed: 59
Unnamed: 60
Unnamed: 61
Unnamed: 62
Unnamed: 63
Unnamed: 64
Unnamed: 65
Unnamed: 66
Unnamed: 67
Unnamed: 68
Unnamed: 69
Unnamed: 70
Unnamed: 71
Unnamed: 72
Unnamed: 73
Unnamed: 74
Unnamed: 75
Unnamed: 76
Unnamed: 77
Unnamed: 78
Unnamed: 79
Unnamed: 80
Unnamed: 81
Unnamed: 82
Unnamed: 83
Unnamed: 84
Unnamed: 85
Unnamed: 86
Unnamed: 87
Unnamed: 88
Unnamed: 89
Unnamed: 90
Unnamed: 91
Unnamed: 92
Unnamed: 93
Unnamed: 94
Unnamed: 95
Unnamed: 96
Unnamed: 97
Unnamed: 98
Unnamed: 99
Unnamed: 100
Unnamed: 101
Unnamed: 102
Unnamed: 103
Unnamed: 104
lutte_ouvriere
voix_lutte_ouvriere
res_lutte_ouvriere
voix_pcf
res_pcf
voix_lrem
res_lrem
voix_resistons
res_resistons
voix_rn
res_rn
voix_reconquete
res_reconquete
voix_lfi
res_lfi
res_ps
voix_ps
voix_eelv
res_eelv
voix_lr
res_lr
voix_npa
res_npa
voix_debout
res_debout

In [74]:
for i in range(29, 104):
    nom_colonne = "Unnamed: " + str(i)
    df = df.drop([nom_colonne], axis=1)

In [75]:
for col in df.columns:
    print(col)

Code du département
Libellé du département
Libellé de la circonscription
Libellé de la commune
Inscrits
Abstentions
% Abs/Ins
Votants
% Vot/Ins
Nuls
% Nuls/Ins
% Nuls/Vot
Exprimés
% Exp/Ins
% Exp/Vot
Voix
% Voix/Exp
Unnamed: 104
lutte_ouvriere
voix_lutte_ouvriere
res_lutte_ouvriere
voix_pcf
res_pcf
voix_lrem
res_lrem
voix_resistons
res_resistons
voix_rn
res_rn
voix_reconquete
res_reconquete
voix_lfi
res_lfi
res_ps
voix_ps
voix_eelv
res_eelv
voix_lr
res_lr
voix_npa
res_npa
voix_debout
res_debout

In [77]:
df.shape

(69682, 43)

#### We will also add a 'winner' column, for each 'circonscription' the candidate that did the best score

In [81]:
df['max'] = df[['res_lutte_ouvriere', 'res_pcf', 'res_ps', 'res_lrem', 'res_eelv', 'res_debout',
                'res_resistons', 'res_reconquete', 'res_lfi', 'res_npa', 'res_lr']].max(axis=1)

In [82]:
df.head()

,Code du département,Libellé du département,Libellé de la circonscription,Libellé de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Nuls,...,voix_eelv,res_eelv,voix_lr,res_lr,voix_npa,res_npa,voix_debout,res_debout,win,max
0,01,Ain,4ème circonscription,L'Abergement-Clémenciat,645,108,16.74,537,83.26,1,...,30,5.77,26,5.00,3,0.58,21,4.04,28.85,28.85
1,01,Ain,5ème circonscription,L'Abergement-de-Varey,213,38,17.84,175,82.16,1,...,10,5.85,8,4.68,3,1.75,0,0.00,29.24,29.24
2,01,Ain,5ème circonscription,Ambérieu-en-Bugey,1129,266,23.56,863,76.44,5,...,25,2.98,40,4.76,8,0.95,13,1.55,25.71,25.71
3,01,Ain,5ème circonscription,Ambérieu-en-Bugey,1128,265,23.49,863,76.51,6,...,46,5.46,42,4.99,4,0.48,20,2.38,23.87,23.87
4,01,Ain,5ème circonscription,Ambérieu-en-Bugey,1213,246,20.28,967,79.72,8,...,65,6.85,35,3.69,3,0.32,19,2.00,24.13,24.13

In [83]:
res = ['res_lutte_ouvriere', 'res_pcf', 'res_ps', 'res_lrem', 'res_eelv', 'res_debout',
                'res_resistons', 'res_reconquete', 'res_lfi', 'res_npa', 'res_lr']

In [87]:
df_res = df.loc[:, res]

In [88]:
# adding 'win'
df_res['win'] = df_res.apply(lambda x: x.idxmax(), axis=1)

# Adding win to initial dataframe
df['win'] = df_res['win']

print(df)

      Code du département           Libellé du département  \
0                      01                              Ain
1                      01                              Ain
2                      01                              Ain
3                      01                              Ain
4                      01                              Ain
...                   ...                              ...
69677                  ZZ  Français établis hors de France
69678                  ZZ  Français établis hors de France
69679                  ZZ  Français établis hors de France
69680                  ZZ  Français établis hors de France
69681                  ZZ  Français établis hors de France

      Libellé de la circonscription    Libellé de la commune  Inscrits  \
0              4ème circonscription  L'Abergement-Clémenciat       645
1              5ème circonscription    L'Abergement-de-Varey       213
2              5ème circonscription        Ambérieu-en-Bugey      1129
3              5ème circonscription        Ambérieu-en-Bugey      1128
4              5ème circonscription        Ambérieu-en-Bugey      1213
...                             ...                      ...       ...
69677          6ème circonscription                   Zurich     24868
69678         11ème circonscription                   Taipei      1709
69679         11ème circonscription             Nour-Soultan       117
69680          2ème circonscription                Monterrey       713
69681          2ème circonscription         Bahamas (Nassau)       136

       Abstentions  % Abs/Ins  Votants  % Vot/Ins  Nuls  ...  voix_eelv  \
0              108      16.74      537      83.26     1  ...         30
1               38      17.84      175      82.16     1  ...         10
2              266      23.56      863      76.44     5  ...         25
3              265      23.49      863      76.51     6  ...         46
4              246      20.28      967      79.72     8  ...         65
...            ...        ...      ...        ...   ...  ...        ...
69677        14101      56.70    10767      43.30    31  ...        993
69678          942      55.12      767      44.88     2  ...         82
69679           64      54.70       53      45.30     0  ...          4
69680          553      77.56      160      22.44     2  ...         10
69681           78      57.35       58      42.65     0  ...          0

       res_eelv  voix_lr  res_lr  voix_npa  res_npa  voix_debout  res_debout  \
0          5.77       26    5.00         3     0.58           21        4.04
1          5.85        8    4.68         3     1.75            0        0.00
2          2.98       40    4.76         8     0.95           13        1.55
3          5.46       42    4.99         4     0.48           20        2.38
4          6.85       35    3.69         3     0.32           19        2.00
...         ...      ...     ...       ...      ...          ...         ...
69677      9.28      580    5.42        47     0.44          189        1.77
69678     10.83       33    4.36        10     1.32           10        1.32
69679      7.84        0    0.00         0     0.00            1        1.96
69680      6.33        5    3.16         1     0.63            1        0.63
69681      0.00        6   10.91         0     0.00            1        1.82

            win    max
0      res_lrem  28.85
1      res_lrem  29.24
2       res_lfi  25.71
3      res_lrem  23.87
4      res_lrem  24.13
...         ...    ...
69677  res_lrem  53.81
69678  res_lrem  37.78
69679  res_lrem  49.02
69680  res_lrem  60.76
69681  res_lrem  45.45

[69682 rows x 45 columns]

In [89]:
df.head()

,Code du département,Libellé du département,Libellé de la circonscription,Libellé de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Nuls,...,voix_eelv,res_eelv,voix_lr,res_lr,voix_npa,res_npa,voix_debout,res_debout,win,max
0,01,Ain,4ème circonscription,L'Abergement-Clémenciat,645,108,16.74,537,83.26,1,...,30,5.77,26,5.00,3,0.58,21,4.04,res_lrem,28.85
1,01,Ain,5ème circonscription,L'Abergement-de-Varey,213,38,17.84,175,82.16,1,...,10,5.85,8,4.68,3,1.75,0,0.00,res_lrem,29.24
2,01,Ain,5ème circonscription,Ambérieu-en-Bugey,1129,266,23.56,863,76.44,5,...,25,2.98,40,4.76,8,0.95,13,1.55,res_lfi,25.71
3,01,Ain,5ème circonscription,Ambérieu-en-Bugey,1128,265,23.49,863,76.51,6,...,46,5.46,42,4.99,4,0.48,20,2.38,res_lrem,23.87
4,01,Ain,5ème circonscription,Ambérieu-en-Bugey,1213,246,20.28,967,79.72,8,...,65,6.85,35,3.69,3,0.32,19,2.00,res_lrem,24.13

### We have now a clearer dataset to analyse, with easy to understand titles and organised data